body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.verticalBars .recharts-surface {
  transform: rotate(90deg) !important;
  width: 260px;
  height: 100%;
}

.myCircularProgressChart .MuiCircularProgress-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.myBubblesChart {
  width: 100%;
  height: 300px;
  position: relative;
}

.myVerticalChart {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.verticalBar {
  width: initial;
  height: 30px;
  background-color: #a5a6f6;
  font-size: 18px;
  color: white;
  padding: 0 10px;
  text-transform: uppercase;
  border-radius: 3px 0 0 3px;
}

.verticalBarMain {
  width: initial;
  height: 30px;
  background-color: #e8e0fe;
  margin: 10px 0;
  border-radius: 3px;
}

.bg-layers {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-layers > .mainImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
  z-index: 1;
}

.bg-layers > .heroOverlay {
  position: absolute;
  bottom: -50px;
  left: 10%;
  width: 80%;
  margin: 0 auto;
}

.bg-layers > .overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(37, 51, 70);
  position: absolute;
  top: 0;
  left: 0;
}

.reviewserve-img {
  display: block;
  width:  330px;
  height: 330px;
  object-fit: cover;
  margin: 0 auto;
}